<section class="ef-startpage-grid">
  <header>
    <div class="hero">
      <img class="hero__img" alt="" src="hero.png" >
    </div>
    <div class="header-features">
      <div class="header-features__wrapper">
          <div class="header-features__row">
            <div>Meny</div>
            <div>Shopping</div>
          </div>
      </div>
  </div>


  </header>
  <section class="main-content">
    <!-- Main-innehåll -->
    <p>Main innehåll</p>
  </section>
  <footer>
    <!-- Footer-innehåll -->
    <p>Footer innehåll</p>
  </footer>


</section>



<router-outlet />
