<section class="ef-startpage-grid">
  <header>
    <picture class="hero">
      <img class="hero__img" alt="Hero image" src="hero.png" >
    </picture>
    <div class="header-features">
      <div class="header-features__wrapper">
          <div class="header-features__row">
            <div>Meny</div>
            <div>Shopping</div>
          </div>
          <div class="header-features__row header-features__row--right">
            <div class="header-features__card">
              <picture class="header-features__logo-container">
                <img class="header-features__logo" alt="Eventfoto logotype" src="ef-logo.png" >
              </picture>
              <h2 class="header-features__heading">Fånga ögonblicket</h2>
              <p class="header-features__text">
                Vi specialiserar oss på att föreviga pulsen,
                passionen och dramatiken i varje ögonblick,
                oavsett om det handlar om intensiteten på scenen eller spänningen på arenan. Våra bilder berättar historier och väcker känslor. Alltid med hög kvalitet och snabb leverans.
                Välkommen att kontakta oss.
              </p>
              <p class="header-features__text header-features__text--500">
                Visa kontaktformulär
              </p>
            </div>
          </div>
      </div>
  </div>


  </header>
  <section class="main-content">
    <!-- Main-innehåll -->
    <p>Main innehåll</p>
  </section>
  <footer>
    <!-- Footer-innehåll -->
    <p>Footer innehåll</p>
  </footer>


</section>



<router-outlet />
