:root {
  /* Size units */
  --main-content-max-width: 1440px;

  /* Color units */
  --color-main-background: #1b1b1b;
  --color-main-white: #fff;
  --color-main-black: #222;
  --color-base-font: #fff;
  --color-link-selected-background: #333;
  --color-link-focus-background: #cdcdcd;
  --color-link-border-bottom: #777;
  --color-link-border: #888;
  --color-link-hover: #fff;
  --color-border: #fff;
  --color-border-black: #999;

  --color-button-accept: #0051A8;
  --color-button-accept-hover: #5b82ac;

  --button-hover-color: color-mix(in srgb, #000 10%, #808000);
  --button-active-color: color-mix(in srgb, #000 20%, #808000);

  /* Font units */
  --ingress-font-size: 1.125rem;
  --body-font-size: 1rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.125rem;
  --datetime-font-size: .75rem;
  --news-article-header-font-size: 1rem;
  --news-page-article-h2-font-size: 1.5rem;

  /* Margin and padding units */
  --frame-margin-or-padding-upto-768: 1.5rem;
  --frame-margin-or-padding-upto-390: 1rem;
}
